**Data Types and Structures Questions**

1)What are data structures, and why are they important?
- Data structures are ways of organizing and storing data so that they can be accessed and modified efficiently. They are important because they enable optimal data management and performance, especially when handling large or complex data sets.


2)Explain the difference between mutable and immutable data types with examples.
- Mutable data types can be changed after creation (like lists and dictionaries), while immutable data types cannot be changed (like strings and tuples). For example, you can append to a list but not to a tuple.

3)What are the main differences between lists and tuples in Python?
- The main difference between lists and tuples in Python is that lists are mutable, meaning their elements can be changed, while tuples are immutable and cannot be modified after creation.

4)Describe how dictionaries store data.
- Dictionaries store data in key-value pairs, where each key maps to a specific value. The keys must be unique and hashable, and the values can be of any type.

5) Why might you use a set instead of a list in Python?
- You might use a set instead of a list when you need to store unique items and do not care about their order, as sets automatically eliminate duplicates and support fast membership checks.

6) What is a string in Python, and how is it different from a list?
- A string in Python is a sequence of characters enclosed in quotes, and it is immutable. Unlike lists, which can hold various data types and be modified, strings cannot be changed after creation.

7) How do tuples ensure data integrity in Python?
- Tuples ensure data integrity by being immutable, meaning their contents cannot be altered, which makes them ideal for storing fixed data or being used as keys in dictionaries.

8) What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that uses a hash function to map keys to values for fast lookup. In Python, dictionaries are implemented using hash tables.

9)  Can lists contain different data types in Python?
- Yes, lists in Python can contain different data types such as integers, strings, or even other lists, offering flexibility in handling heterogeneous collections.

10)Explain why strings are immutable in Python.
- Strings are immutable in Python to enhance performance and security, allowing them to be safely used as keys in dictionaries and ensuring that they cannot be changed accidentally.

11) What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer advantages over lists when fast lookup, insertion, or deletion by a specific key is needed, as opposed to searching through a list by index or value.

12) Describe a scenario where using a tuple would be preferable over a list.
- A tuple is preferable over a list when you need a constant set of values that should not change, such as coordinates (x, y) or fixed configuration settings.

13) How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values, ensuring that each element appears only once regardless of how many times it is added.

14) How does the “in” keyword work differently for lists and dictionaries?
- The “in” keyword checks for element presence in both lists and dictionaries, but in a dictionary, it checks only for keys, not values.

15) Can you modify the elements of a tuple? Explain why or why not.
- You cannot modify the elements of a tuple because it is immutable. Once created, its content is fixed, which helps protect the data from unintended changes.

16) What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where values are also dictionaries. It’s useful for representing structured data, such as storing student records with multiple attributes per student.

17)Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary is generally O(1) time complexity, meaning it is very fast regardless of the size of the dictionary, due to its underlying hash table implementation.

18) In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when you need to maintain order or when the data is a simple sequence where indexing matters and keys are unnecessary.

19) Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered in the sense that their elements are not stored in a predictable order by design (prior to Python 3.7), although newer versions retain insertion order. This can affect how data is retrieved or displayed.

20)Explain the difference between a list and a dictionary in terms of data retrieval.
- The difference between a list and a dictionary in terms of data retrieval is that lists use integer indexes to access elements, while dictionaries use keys, which allows for more descriptive and direct access to data.

**Practical Questions**

In [ ]:
#Question 1 Write a code to create a string with your name and print it.
name="Kushagra Sharma"
print(name)

Kushagra Sharma

In [ ]:
#Question 2 Write a code to find the length of the string "Hello World".
a="Hello World"
print(len(a))

11

In [ ]:
#Question 3 Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [ ]:
#Question 4 Write a code to convert the string "hello" to uppercase.
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [ ]:
# Question 5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
#Question 6 Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#Question 7 Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
#Question 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#Questin 9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
#Question 10 Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [ ]:
#Question 11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#Question 12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [ ]:
#Question 13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [ ]:
#Question 14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [ ]:
#Question 15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "cherry")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [ ]:
#Question 16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [ ]:
#Question 17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#Question 18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#Question 19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#Question 20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
#Question 21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {'name': 'Kushagra', 'age': 22, 'city': 'Mumbai'}
print(my_dict)

{'name': 'Kushagra', 'age': 22, 'city': 'Mumbai'}

In [ ]:
#Question 22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Question 23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [ ]:
#Question 24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Question 25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [ ]:
#Question 26 Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
'''Question 27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[3, 8, 13, 52, 76]

In [ ]:
#Question 28  Write a code to create a list with strings and print the element at the third index
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[2]
print(third_element)

cherry

In [ ]:
#Question 29 Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#Question 30 Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}